// Variables
//Creating the Variables for the colors and fonts
$background-color: #1f2937;
// card color
$card-color: #374151;
// primary color
$primary-color: #10b981;
// text color
$text-color: #ffffff;
// danger color
$danger-color: #ef4444;
// border radius
$border-radius: 10px;

// Mixin
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Animation
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}